
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Admin_Layout.cshtml";
}

@model AmyzFactory.Models.TextsViewModel


<section class="head-page-add-pro">
    <article class="container">
        <div class="row">
            <div class="col-xs-12">
                <header>
                    <h2><i class="fab fa-product-hunt"></i>&nbsp;&nbsp;Add Quality</h2>
                </header>
            </div>
        </div>
    </article>
</section>


<section class="container">
    <article id="slider-edit">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <caption>You can Add / Delete Photo Information </caption>
                <thead>
                    <tr>
                        <form >
                            <th class="form-group">
                                <label for="imageInput">PC Image :</label>
                                <input id="infoImageInput" type="file" name="image" onchange="viewImageFile('#infoImageInput', '#infoDescription', '#infotargetImg', '#imgInfoPreview',0,0)">
                            </th>

                            <th><label>Actions</label></th>

                            <div>
                                <div id="imgInfoPreview" class="thumbnail" style="display:none">
                                    <img class="img-responsive" id="infotargetImg" width="120" height="80" />
                                    <div class="caption">
                                        <a href="#" onclick="clearPreview()"> Clear </a>
                                        <span id="infoDescription"></span>
                                    </div>
                                    <button type="button" class="btn btn-warning" onclick="startUploadImage('#infoImageInput','@Url.Action("UploadQualityImage","Qualities")', 'TblInfoBody', '#infoDescription', '#imgInfoPreview','@Url.Action("DeleteQualityImage","Qualities")')" data-dismiss="modal">Upload</button>
                                    <hr />
                                </div>
                            </div>
                        </form>
                    </tr>

                </thead>
                <tbody id="TblInfoBody"></tbody>
            </table>
            <form id="frmQualities">
                <div class="container">
                    <label for="imgNameInput">Header Name:</label>
                    @Html.TextAreaFor(m => m.Title, new { @id = "headerTitle", @class = "form-control", @rows = "2", placeholder = "اكتب هنا عنوان قصير", @type = "text" })

                    <label for="imgNameInput">Information</label>
                    @Html.TextAreaFor(m => m.SubTitle, new { @id = "qualityTitle", @class = "form-control", @rows = "4", placeholder = "اكتب هنا نبزة مختصرة عن الجودة التى يقدمها المصنع", @type = "text" })
                    <label for="imgNameInput">Description</label>
                    @Html.TextAreaFor(m => m.Description, new { @id = "description", @class = "form-control", @rows = "7", placeholder = "اكتب هنا التفاصيل وجميع المميزات", @type = "text" })
                    <hr />
                    <button class="btn btn-success" onclick="updateQuality()" type="button" name="submit">Update</button>
                </div>
            </form>

        </div>
    </article>
</section> <!-- End Add & Delet photo Information -->





 
<script>

    $(document).ready(function () {
        getImages("getQualityImages", "Qualities", "TblInfoBody", "DeleteQualityImage");
     })





    $(document).ready(function () {


        $.ajax({
            url: "/Qualities/QualityTexts",
            type: "Get",
            dataType: "json",
            success: function (data) {
                $('#headerTitle').val( data.Title);
                $('#qualityTitle').val(data.SubTitle);
                $('#description').val(data.Description);
             }
        });

    })
    var updateQuality = function () {

        var formData = $("#frmQualities").serialize();

        $.ajax({
            url: "/Qualities/CreateUpdateQuality",
            type: "Post",
            data: formData,
            dataType: "json",
            success: function (data) {
                if (data.Result.IsSuccess) {
                    successDialog(data.Result.Message);
                } else {
                    failedDialog(data.Result.Message);
                }
            }
        });

    }

</script>
