
@model AmyzFactory.Models.TextsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Admin_Layout.cshtml";
}


<section class="head-page-add-pro">
    <article class="container">
        <div class="row">
            <div class="col-xs-12">
                <header>
                    <h2><i class="fab fa-product-hunt"></i>&nbsp;&nbsp;Add New Article</h2>
                </header>
            </div>
        </div>
    </article>
</section>
<section class="container">
    <article id="slider-edit">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <caption>Add / Edit Article</caption>
                <thead>
                    <tr>
                        <form>
                            <th class="form-group">
                                <label for="imageInput">Article Img : </label>
                                <input class="form-control" id="articleImageInput" type="file" name="image" onchange="viewImageFile('#articleImageInput', '#articleDescription', '#articleTargetImg', '#imgArticlePreview', 0, 0)">
                            </th>

                            <div>
                                <div id="imgArticlePreview" class="thumbnail" style="display:none">
                                    <img class="img-responsive" id="articleTargetImg" width="120" height="80" />
                                    <div class="caption">
                                        <a href="#" onclick="clearPreview('#articleImageInput', '#articleDescription', '#articleTargetImg')"> Clear </a>
                                        <span id="articleDescription"></span>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                        </form>
                    </tr>
                </thead>
                <tbody id="TblArticleImages"></tbody>
            </table>
            <form id="frmArticle">
                <div class="form-group">
                    <label for="titleInput"> Title:</label>
                    @Html.TextBoxFor(m => m.Title, new { @id = "artTitle", @class = "form-control", placeholder = "اكتب هنا عنوان المقال", @type = "text" })
                </div>

                <div class="form-group">
                    <label for="titleInput"> Content:</label>
                    @Html.TextAreaFor(m => m.Description, new { @id = "artDescription", @class = "form-control", @rows = "14", placeholder = "اكتب هنا محتوى المقال", @type = "text" })
                </div>

                <hr />
                <button class="btn btn-success" onclick="createArticle('#frmArticle')" type="button" >Upload</button>
            </form>
        </div>
    </article>

    <div class="kik"></div>
</section>



<section class="container">
    <article id="cate-add">
        <caption>Add Articles Title & Description</caption>
        <div id="accordion">

        </div>
    </article>
</section>

<script>

    $(document).ready(function () {

        getArticles("Articles","Delete");
    })




    var drawArticleRaw = function (item, deleteDepartmentURL, DropDownItemID) {

        var subCategoryCollapseID = 'subCollapse' + item.Id;
        var containerID = 'container' + item.Id;

        var html = '<div class="card" id="' + containerID + '">';
        // header (Main Department)
        html += '<div class="card-header">' + '<div class="row">' + '<h5 class="col">';
        html += '<button class="btn btn-link" data-toggle="collapse" data-target="#' + subCategoryCollapseID + '" aria-expanded="true" aria-controls="' + subCategoryCollapseID + '">'
        html += '<i class="fa fa-sort-down"></i>' + item.Title + '</button></h5><h5 class="col"></h5><h5 class="col"></h5>'
        html += '</div></div>'

        // body (Sub Categories)

        var tblBodyId = "tbody" + item.Id;

        html += '<div id="' + subCategoryCollapseID + '" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">'

        html = drawArticleTitle_Desc(item, html);

        html += '</div>'
        $('#accordion').append(html);

    }

    var drawArticleTitle_Desc = function (subItem, html) {
        var title = subItem.Title;
        var description = subItem.Description;

        var trID = 'subTr' + subItem.Id;
        var titleTxtId = 'title' + subItem.Id;
        var descTxtId = 'desc' + subItem.Id;
        html += '<div id="' + trID + '">'

        html += '</br><input class="form-control" type="text" value="' + subItem.Title + '" id="' + titleTxtId + '" name="lname">'
        html += '</br><textarea class="form-control" rows="15" cols="50" type="text" id="' + descTxtId + '" name="lname">' + subItem.Description + '</textarea>'
        html += '<center><button type="button" class="btn btn-primary" style="margin:10px"  onclick="updateArticle(' + subItem.Id + ')">Update</button>'
        html += '<button type="button" class="btn btn-danger"  style="margin:10px" onclick="deleteArticle(\'' + subItem.Id + '\',\'' + trID + '\')">Delete</button></center>'


        html += '</div>'

        return html
    }









    var createArticle = function (frmID) {
        debugger;


        var formData = new FormData();
        var file = $('#articleImageInput').get(0).files;

        if (file.length==0) {
            failedDialog("Article Image Required!");
            return false;
        }
       

     
        formData.append("Title", $('#artTitle').val());
        formData.append("Description", $('#artDescription').val());
            formData.append("ImageFile", file[0]);


 



       



 
        $.ajax(
          {
              type: "POST", //HTTP POST Method
              url:'@Url.Action("CreateArticle", "Articles")', // Controller/View 
              data: formData,
              dataType: 'json',
              contentType: false,
              processData: false,
              success: function (data) {
                  clearPreview('#articleImageInput', '#articleDescription', '#articleTargetImg');
                  if (data.IsSuccess) {
                      successDialogEdit(data.Message);
                      getArticles();
                  } else {
                      failedDialog(data.Message);
                  }
              }

          });
    }


 
    var getArticles = function (ControllerName, DeleteActionName) {

        $('#accordion').empty();

        var URL = '@Url.Action("GetArticles", "Articles")';
        $.ajax({
            url: URL,
            type: "Get",
            dataType: "json",
            success: function (data) {
             
                $.each(data, function (index, value) {

                 
                    var DeleteURL = "/Admin/" + ControllerName + "/" + DeleteActionName + "?id=" + value.Id;


                    var dropDownListItemID = 'item' + value.Id;



                    drawArticleRaw(value, DeleteURL, dropDownListItemID)

                });
            }
        });
    }


    var updateArticle = function (id) {
        debugger;
        $.ajax(
          {
              type: "POST", //HTTP POST Method
              url: '@Url.Action("UpdateArticle", "Articles")', // Controller/View 
              data: { //Passing data
                  Id: id,
                  Title: $('#title' + id).val(),
                  Description: $('#desc' + id).val(),
              },
              success: function (data) {
                  if (data.IsSuccess) {
                      successDialogEdit(data.Message);
                  } else {
                      failedDialog(data.Message);
                  }
              }

          });
    }

    var deleteArticle = function (id, rowId) {

        var URL = "@Url.Action("Delete", "Articles")?id=" + id;

        $.ajax({
            url: URL,
            type: "Get",
            dataType: "json",
            success: function (data) {

                if (data.IsSuccess) {
                    successDialog(data.Message);
                    getArticles();
                   // $('#' + rowId).remove();
                } else {
                    failedDialog(data.Message);
                }

            }
        })
    }


    
</script>