
@model IEnumerable<AmyzFactory.Models.TextsViewModel>



  

 

































@if (Model != null && Model.Count() > 0)
{


    for (int i = 0; i < Model.Count(); i++)
    {

        if (i == 3)
        {

            <center>
                <a id="moreInfo" class="btn btn-outline-success" href="@Url.Action("AboutUS","HomePreview")">المزيد</a>
            </center>
            return;
        }

        AmyzFactory.Models.TextsViewModel item = Model.ToList()[i];

        string content = item.Description;
        if (content.Length > 300)
        {
            content = content.Substring(0, 300) + ".......";
        }

        <div class="card">
            <div class="row no-gutters">
                <div class="col-sm-3" style="background: #868e96;">
                    <img src="@item.ImageUrl" class="card-img-top h-100" alt="">
                </div>
                <div class="col-sm-9">
                    <div class="card-body">
                        <h2 class="noo-sh-title-top footer-title" style="color:#62A73C;">@item.Title</h2>
                        <p class="footer-title">@content</p>
                        <a href="@Url.Action("ArticleDetails","HomePreview",new { @id=item.Id})" class="btn btn-success stretched-link">قراءة المزيد</a>
                    </div>
                </div>
            </div>
        </div>


      
    }








  








    if (Model.Count() > 3)
    {
        <div class="col-lg-6" style="text-align:right;">
           
            <a class="btn hvr-hover" href="#">المزيد</a>
        </div>
         
    }

}

