@model AmyzFactory.Models.UserViemModel

@{
    string url = ViewBag.ReturnUrl;
 }
<div id="login">
    <h4>تسجيل الدخول</h4>

    <form id="frmSignIn" autocomplete="off"> 

        @Html.HiddenFor(m=>m.ReturnUrl, url)
 

        <div class="field-wrap login-fields">
            @Html.LabelFor(m => m.Email, new { @class = "lbll" })
            @Html.TextBoxFor(m => m.Email, new { @autocomplete = "false", @name = "hidden", @class = "form-control form-control-user", @type = "text", @placeholder = "البريد الالكترونى" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error_txt" })

        </div>

        <div class="field-wrap login-fields">
            @Html.LabelFor(m => m.Password, new { @class = "lbll" })
            @Html.PasswordFor(m => m.Password, new { @autocomplete = "false", @name = "hidden", @class = "form-control form-control-user", @type = "password",  @placeholder = "كلمة السر" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error_txt" })
        </div>


        <button id="signInBtn" type="button" class="button button-block">تسجيل الدخول</button>

    </form>

</div>

