
@model AmyzFactory.Models.ContactViewModel

<form id="FrmPhone">

    <div class="table-responsive">
        <table class="table table-bordered table-hover">


            <caption>You can Add / Delete Phone &amp;</caption>
            <thead>
                <!-- Add & Delet Phone -->
                <tr>


                    <th>
                        <label for="phoneInput">Phone Title:</label>
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "اكتب هنا مالك الهاتف مثال : الدعم الفنى", @name = "phone", @type = "text" })
                         @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })

                    </th>
                    <th>
                        <label for="phoneInput">Phone Number:</label>
                        @Html.TextBoxFor(m => m.Value, new { @class = "form-control", placeholder = "اكتب هنا رقم الهاتف", @type = "tel" })
                        @Html.ValidationMessageFor(m => m.Value, null, new { @class = "text-danger" })
                     </th>
                    <th>
                        <button id="btnAddPhone" onclick="addAddress('#FrmPhone','@Url.Action("CreatePhone","HomePage")', 'PhoneTblContainer','@Url.Action("DeletePhone","HomePage")', '#btnAddPhone')" class="btn btn-warning btn-block" type="button">Add</button>
                    </th>


                </tr>

            </thead>


            <tbody id="PhoneTblContainer"></tbody>


            <!-- End Add & Delet Phone -->
            <!-- Add & Delet Email -->
        </table>
    </div>
</form>



