
@{
    ViewBag.Title = "ProductsPrices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

@model  IEnumerable< AmyzFactory.Models.ProductViewModel>

<!-- Trigger the Modal -->
 
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>


<div class="wishlist-box-main">
    <div class="container">
        <div class="title-all" style="margin-top:20px;text-align:right">
            <h1  class="header-pages">أسعار المنتجــات</h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table" style="text-align: center;">
                        <thead>
                            <tr>
                                <th>الصورة</th>
                                <th>اسم المنتج</th>
                                <th>القسم</th>
                                <th>السعر</th>
                                <th>التفاصيل</th>

                            </tr>
                        </thead>
                        <tbody>

                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    string imgID = "img" + item.Id;
                                     
                                    <tr>
                                        <td class="thumbnail-img">
                                            <a href="#">
                                                <img id="@imgID" class="img-fluid" onclick="showImageDialog(@imgID)" src="@item.ImageURL" alt="" />
                                            </a>
                                        </td>
                                        <td class="name-pr">
                                            <a href="#">
                                             @item.Name
                                            </a>
                                        </td>
                                        <td class="name-pr">
                                            <a href="#">
                                                @item.CategoryName
                                            </a>
                                        </td>
                                        <td class="price-tbl">
                                            <p>@item.Price ح.م</p>
                                        </td>

                                        <td class="add-pr">
                                            @Html.ActionLink("اظهار التفاصيل", "ProductDetails", "Product", new { id=item.Id},new { @class= "btn hvr-hover" })
                                        </td>
                                    </tr>

                                }
                            }

                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




<script>


    function showImageDialog(imgID) {
     
       
        var imageUrl =$('#'+imgID).src;

        $('#img01').src=imageUrl;
        $('#myModal').modal('show');


        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

    }

   
</script>