@model IEnumerable<AmyzFactory.Models.ProductViewModel>

@{
    ViewBag.Title = "ShowProductsWithCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<AmyzFactory.Models.CategoryViewModel> departments = ViewBag.Categories;
}

 
<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    <div class="search-product">
                        <form action="#">
                            <input class="form-control" style="text-align:center;" placeholder="ابحث هنا..." type="text">
                            <button type="submit"> <i class="fa fa-search"></i> </button>
                        </form>
                    </div>
                    <div class="filter-sidebar-left">
                        <div class="title-left">
                            <h3 class="footer-title">الأقسام</h3>
                        </div>
                        <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                            <a href="#" class="list-group-item list-group-item-action"> الكل  <small class="text-muted">(@Model.Count()) </small></a>

                            @if (departments != null && departments.Count > 0)
                            {
                                foreach (var item in departments)
                                {
                                    var itemId = "sub-men" + item.Id;
                                    <div class="list-group-collapse sub-men">
                                        <a class="list-group-item list-group-item-action" href="#@itemId" data-toggle="collapse" aria-expanded="true" aria-controls="@itemId">
                                            @item.Name
                                        </a>
                                        <div class="collapse show" id="@itemId" data-parent="#list-group-men">
                                            <div class="list-group">
                                                @foreach (var category in item.Categories)
                                                {
                                                    <a href="@Url.Action()" class="list-group-item list-group-item-action">@category.Name <small class="text-muted">(@item.Categories.Count)</small></a>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">

                <div class="right-product-box">
                    <div class="product-item-filter row">

                        <div class="col-12 col-sm-8 text-center text-sm-left">
                           
                              
                                <div class="toolbar-sorter-right">
                                    <span class="footer-title">الترتيب</span>
                                    <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                                        <option data-display="Select">اظهار الكل</option>
                                        <option value="1">الأحدث</option>
                                        <option value="2">الأعلى فى السعر</option>
                                        <option value="3">الأقل فى السعر</option>
                                        <option value="4">الأكثر طلبا</option>
                                    </select>


                                </div>

                            </div>
                        <div class="col-12 col-sm-4 text-center text-sm-right">
                            <ul class="nav nav-tabs ml-auto">
                                <li>
                                    <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                </li>
                                <p id="currentState" style="padding-right:15px;">الكل</p>
                            </ul>
                        </div>

                    </div>

                    <div class="product-categorie-box">
                        <div class="tab-content">

                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="sale">@item.CategoryName</p>
                                                        </div>
                                                        <img src="~/Content/img/img-pro-01.jpg" class="img-fluid" alt="Image">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="التفاصيل"><i class="fas fa-eye"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="اضف الى العربة"><i class="far fa-heart"></i></a></li>
                                                            </ul>
                                                            <a class="cart" href="#">اضف الى العربة</a>
                                                        </div>
                                                    </div>
                                                    <div class="why-text">
                                                        <h4 class="footer-title">@item.Name</h4>
                                                        <h5 class="footer-text"> @item.Price ح.م</h5>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="list-view">
                                        <div class="list-view-box">
                                            <div class="row">
                                                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                    <div class="products-single fix">
                                                        <div class="box-img-hover">
                                                            <div class="type-lb">
                                                                <p class="new">@item.CategoryName</p>
                                                            </div>
                                                            <img src="~/Content/img/img-pro-01.jpg" class="img-fluid" alt="Image">
                                                            <div class="mask-icon">
                                                                <ul>
                                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="التفاصيل"><i class="fas fa-eye"></i></a></li>
                                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="اضف الى المفضلة"><i class="far fa-heart"></i></a></li>
                                                                </ul>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                    <div class="why-text full-width">
                                                        <h4>@item.Name</h4>
                                                        <h5> @item.Price ج.م</h5>
                                                        <p>
                                                        @item.Definition    
                                                        </p>
                                                        <a class="btn hvr-hover" href="#">اضف الى العربة</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }


                          
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
<!-- End Shop Page -->
