@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Admin_Layout.cshtml";
}

<!-- Edit Dialog -->
<section class="head-page-edit-home">
    <article class="container">
        <div class="row">
            <div class="col-xs-12">
                <header style="margin-top: 25px;">
                    <h2><i class="fa fa-list-alt"></i>&nbsp;&nbsp;Edit Main Slider</h2>
                </header>
            </div>
        </div>
    </article>
</section>
<!-- Add & Delet photo slid -->



<section class="container">
    <article id="slider-edit">
        <div class="table-responsive">
          
            <table class="table table-bordered table-hover">
                <caption>You can Add / Delete Main SLider Pictures</caption>
                <form id="frmMainSliders">
                    <thead>
                        <tr>

                            <th class="form-group">
                                <label for="imageInput">PC Image :</label>
                                <input id="SliderInput" type="file" name="image" onchange="viewImageFile('#SliderInput', '#sliderDescription', '#slidertargetImg', '#imgSliderPreview',0,0)">
                            </th>
                            <th class="form-group">
                                <label>Actions</label>
                            </th>
                            <div>
                                <div id="imgSliderPreview" class="thumbnail" style="display:none">
                                    <img class="img-responsive" id="slidertargetImg" width="120" height="80" />
                                    <div class="caption">
                                        <a href="#" onclick="clearPreview()"> Clear </a>
                                        <span id="sliderDescription"></span>
                                    </div>
                                    <button type="button" class="btn btn-warning" onclick="startUploadImage('#SliderInput', '@Url.Action("UploadSlider","HomePage")', 'TblSlidersBody', '#sliderDescription', '#imgSliderPreview','@Url.Action("DeleteSlider","HomePage")')">Upload</button>
                                    <hr />
                                </div>
                            </div>

                        </tr>

                    </thead>
                </form>

                <tbody id="TblSlidersBody"></tbody>
            </table>
        </div>
    </article>
</section> <!-- End Add & Delet photo slid -->


<section class="head-page-edit-home">
    <article class="container">
        <div class="row">
            <div class="col-xs-12">
                <header style="margin-top: 25px;">
                    <h2><i class="fa fa-list-alt"></i>&nbsp;&nbsp;Edit Photo Information</h2>
                </header>
            </div>
        </div>
    </article>
</section>

<!-- Add & Delet  Photo Information -->
<section class="container">
    <article id="slider-edit">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <caption>You can Add / Delete Photo Information </caption>
                <form>

                    <thead>
                        <tr>

                            <th class="form-group">
                                <label for="imageInput">PC Image :</label>
                                <input id="infoImageInput" type="file" name="image" onchange="viewImageFile('#infoImageInput', '#infoDescription', '#infotargetImg', '#imgInfoPreview',0,0)">
                            </th>

                            <th><label>Actions</label></th>

                            <div>
                                <div id="imgInfoPreview" class="thumbnail" style="display:none">
                                    <img class="img-responsive" id="infotargetImg" width="120" height="80" />
                                    <div class="caption">
                                        <a href="#" onclick="clearPreview('#imageInput', '#infoDescription', '#imgInfoPreview')"> Clear </a>
                                        <span id="infoDescription"></span>
                                    </div>
                                    <button type="button" class="btn btn-warning" onclick="startUploadImage('#infoImageInput','@Url.Action("UploadInfoImage","HomePage")', 'TblInfoBody', '#infoDescription', '#imgInfoPreview','@Url.Action("DeleteInfoImage","HomePage")')" data-dismiss="modal">Upload</button>
                                    <hr />
                                </div>
                            </div>

                        </tr>

                    </thead>
                </form>

                <tbody id="TblInfoBody"></tbody>
            </table>
          @{ 
              Html.RenderPartial("~/Areas/Admin/Views/HomePage/partial/_Info.cshtml");
          }
            
        </div>
    </article>
</section> <!-- End Add & Delet photo Information -->


 <section class="head-page-edit-home">
    <article class="container">
        <div class="row">
            <div class="col-xs-12">
                <header style="margin-top: 25px;">
                    <h2><i class="fa fa-list-alt"></i>&nbsp;&nbsp;Edit Photo Responsibility</h2>
                </header>
            </div>
        </div>
    </article>
</section>

<section class="container">
    <article id="slider-edit">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <caption>You can Add / Delete Photo Responsibilty </caption>
                <form>
                    <thead>
                        <tr>

                            <th class="form-group">
                                <label for="imageInput">PC Image :</label>
                                <input id="responImageInput" type="file" name="image" onchange="viewImageFile('#responImageInput', '#responDescription', '#respontargetImg', '#responPreview', 0, 0)">
                            </th>

                            <th><label>Actions</label></th>

                            <div>
                                <div id="responPreview" class="thumbnail" style="display:none">
                                    <img class="img-responsive" id="respontargetImg" width="120" height="80" />
                                    <div class="caption">
                                        <a href="#" onclick="clearPreview('#responImageInput', '#responDescription', '#responPreview')"> Clear </a>
                                        <span id="responDescription"></span>
                                    </div>
                                    <button type="button" class="btn btn-warning" onclick="startUploadImage('#responImageInput','@Url.Action("UploadResponsiblityImage","HomePage")', 'TblResponBody', '#responDescription', '#responPreview','@Url.Action("DeleteResponsiblityImage","HomePage")')" data-dismiss="modal">Upload</button>
                                    <hr />
                                </div>
                            </div>

                        </tr>

                    </thead>
                </form>

                <tbody id="TblResponBody"></tbody>

            </table>
           
             @{
                Html.RenderPartial("~/Areas/Admin/Views/HomePage/partial/_Responsibilty.cshtml");
            }

        </div>
    </article>
</section> <!-- End Add & Delet Responsibility -->



<section class="head-page-edit-home-stikers">
    <article class="container">
        <div class="row">
            <div class="col-xs-12">
                <header style="margin-top: 25px;">
                    <h2><i class="fa fa-list-alt"></i>&nbsp;&nbsp;Edit Main Info</h2>
                </header>
            </div>
        </div>
    </article>
</section>
<section class="container">
    <article id="stiker-edit">
      

        @{
            Html.RenderPartial("~/Areas/Admin/Views/HomePage/partial/_Phones.cshtml");
        }

     @{
         Html.RenderPartial("~/Areas/Admin/Views/HomePage/partial/_Email.cshtml");
     }

    </article>
</section>


<div class="modal fade del-categoty" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>

            <div class="modal-body">
                <h5>Are you want delete this ?</h5>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger">Confirm</button>
            </div>
        </div>
    </div>
</div>



<script>
    // Images


    var idCounter = 0;

    $(document).ready(function () {

        var sliders = "@Url.Action("GetSliders", "HomePage")";
        var delSliders = "@Url.Action("DeleteSlider", "HomePage")";
        getImages(sliders, "TblSlidersBody", delSliders);


        var info = "@Url.Action("GetInfoImage", "HomePage")";
        var delInfo= "@Url.Action("DeleteInfoImage", "HomePage")";
        getImages(info, "TblInfoBody", delInfo);

        var repon = "@Url.Action("GetResponsibilityImage", "HomePage")";
        var delRepon = "@Url.Action("DeleteResponsiblityImage", "HomePage")";
        getImages(repon, "TblResponBody", delRepon);

  
     })



    // Ed from Images Functions


    $(document).ready(function () {
        getAddresses("@Url.Action("GetPhones", "HomePage")", "PhoneTblContainer","@Url.Action("DeletePhone", "HomePage")")
        getAddresses("@Url.Action("GetEmails", "HomePage")", "EmailTblContainer","@Url.Action("DeleteEmail", "HomePage")")
    })

    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action("GetSiteInfo", "HomePage")",
            type: "Get",
            dataType: "json",
            success: function (data) {
                $('#headerTitle').val( data.Title);
                 $('#subTitle').val( data.SubTitle);
                $('#infoDesc').val(data.Description);
            }
        });

    })


    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action("GetResponsibilityText", "HomePage")",
            type: "Get",
            dataType: "json",
            success: function (data) {
                $('#headerResTitle').val( data.Title);
                $('#subResTitle').val( data.SubTitle);
                $('#ResDesc').val(data.Description);
            }
        });

    })



    var drawAddress = function (address, DeleteUrl, TblContainer) {


        var trID = TblContainer + address.Id;
        var deletingUrl = DeleteUrl + "?id=" + address.Id;

        var html = '';
        html += '<tr id="' + trID + '">'
        html += '<td><h7 style="font-weight: bold; color:#4e73df;">' + address.Title + '</h7></td>'
        html += '<td style="vertical-align:middle; color:#1cc88a;">' + address.Value + '</td>'
        html += '<td><button class="btn btn-danger btn-block" type="button"  onClick= "deleteAddress(\'' + deletingUrl + '\',\'' + trID + '\')">Delete</button></td>'
        html += '</tr>'

        $('#' + TblContainer).append(html);
    }

    var getAddresses = function (URL, TblContainer, DeleteUrl) {
         $.ajax({
            url: URL,
            type: "Get",
            dataType: "json",
            success: function (data) {
                $(TblContainer).empty();
                $.each(data, function (i, address) {
                    drawAddress(address, DeleteUrl, TblContainer)
                })

            }
        });
    }

    var addAddress = function (FrmID,URL,TbContainer,DeleteUrl,btnID) {

        // first disable button
        debugger;
        if (!$(FrmID).valid()) {
            return false;
        }


        disableBtn(btnID)

        var frmData = $(FrmID).serialize();



         $.ajax({
            url: URL,
            type: "Post",
            data: frmData,
            dataType: "json",
            success: function (data) {

                enableBtn(btnID, "Add");

                if (data.Result.IsSuccess) {
                    successDialog(data.Result.Message);
                    drawAddress(data, DeleteUrl, TbContainer)
                    $(FrmID).trigger("reset");

//                    $("input").val("");
                } else {
                    failedDialog(data.Result.Message);
                }

            }
        });

    }

    var deleteAddress = function (URL,trID) {
        $.ajax({
            url: URL,
            type: "Get",
            dataType: "json",
            success: function (data) {
                if (data.IsSuccess) {
                    successDialog(data.Message)
                    $('#' + trID).remove();
                }
            }
        });
    }



    var updateResponTexts = function (btnID) {

          disableBtn(btnID);

          var formData = $("#frmRespon").serialize();

        $.ajax({
            url: "@Url.Action("CreateUpdateResponsibility", "HomePage")",
            type: "Post",
            data: formData,
            dataType: "json",
            success: function (data) {

                enableBtn(btnID, "Update");

                successDialog(data.Result.Message);
            }
        });

    }

      var updateInfoTexts = function (btnID) {

          disableBtn(btnID);

          var formData = $("#frmInfo").serialize();

          $.ajax({
              url: "@Url.Action("CreateUpdateInfo", "HomePage")",
              type: "Post",
              data: formData,
              dataType: "json",
              success: function (data) {

                  enableBtn(btnID, "Update");

                  successDialog(data.Result.Message);
              }
          });

      }


      function enableBtn(btnId,message) {
          $(btnId).html(message);
          $(btnId).prop('disabled', false);
      }

      function disableBtn(btnId) {
          $(btnId).html("Please wait...");
          $(btnId).prop('disabled', true);
      }


</script>

 

