@model AmyzFactory.Models.QuestionairViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- End All Title Box -->
<!-- Start Contact Us  -->
<div class="contact-box-main">
    <div class="container">
        <div class="title-all" style="margin-top:20px;text-align:right">
            <h1  class="header-pages">تواصل معنــا</h1>
        </div>

        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="contact-form-right">
                    <form id="frmQuest">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FullName, new { @class = "lbll" })
                                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control form-control-user", @type = "text", @autocomplete = "off", @placeholder = "الاسم كامل" })
                                    @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "help-block with-errors" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "lbll" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", @type = "email", @autocomplete = "off", @placeholder = "البريد الالكترونى" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "help-block with-errors" })
                               </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Question, new { @class = "lbll" })
                                    @Html.TextBoxFor(m => m.Question, new { @class = "form-control form-control-user", @type = "text", @autocomplete = "off", @placeholder = "اكتب استفسارك هنا..." })
                                    @Html.ValidationMessageFor(m => m.Question, "", new { @class = "help-block with-errors" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                 
                                <div class="submit-button text-center">
                                    <button id="btnSend" class="btn hvr-hover"  type="button">ارسل الان</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="contact-info-left">
                    <h2>طرق أخرى للتواصل</h2>
                    <ul>
                        <li>
                            <p><i class="fas fa-map-marker-alt"></i>Address: Michael I. Days 9000 <br>Preston Street Wichita,<br> KS 87213 </p>
                        </li>
                        <li>
                            <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+1-888705770">+1-888 705 770</a></p>
                        </li>
                        <li>
                            <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">contactinfo@gmail.com</a></p>
                        </li>

                    </ul>
                 
                        <h3 class="footer-title">صفاحتنا على مواقع التواصل الاجتماعى</h3>
                        <ul>
                            <li><a href="javascript:void(0)" title="صفحتنا على الفيسبوك"><i class="fab fa-facebook" aria-hidden="true"></i> الفيسبوك</a></li>
                            <li><a href="javascript:void(0)" title="صفحتنا على تويتر"><i class="fab fa-twitter" aria-hidden="true"></i>تويتر</a></li>
                            <li><a href="javascript:void(0)" title="صفحتنا على الانستجرام"><i class="fab fa-instagram" aria-hidden="true"></i>الانستجرام</a></li>
                        </ul>
                  

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Cart -->



<script>



    $(document).ready(function () {
        $("#btnSend").click(function(){
        
            debugger;
            if (!$('#frmQuest').valid()) {
                return false;
            }

            disableBtn('#btnSend');

            var formData = $('#frmQuest').serialize();

 
            $.ajax({
                url: "/Contact/CreateQuest",
                type: "Post",
                data: formData,
                dataType: 'json',
                success: function (data) {

                    enableBtn('#btnSend', 'ارســال');
 
                    if (data.IsSuccess) {
                        clearFields();
                         successDialog(data.Message);
                    } else {
                        failedDialog(data.Message);
                    }

                }
            });

        
        });
    })


    var clearFields = function () {
        $('#frmQuest').find("input").val("");
    }
    
    function enableBtn(btnId, message) {
        $(btnId).html(message);
        $(btnId).prop('disabled', false);
    }

    function disableBtn(btnId) {
        $(btnId).html("wait..");
        $(btnId).prop('disabled', true);
    }
   
</script>

